* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #f9f5f3;
  --secondary-color: #f38e82;
  --primary-gradient: linear-gradient(to right bottom, #fbdb89, #f48982);
}

body {
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #615551;
  background-image: var(--primary-gradient);
  padding: 3rem;
  height: 100dvh;
}

button {
  border: none;
  background: none;
  color: inherit;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:focus-visible {
  outline: 2px solid black;
  outline-offset: -2px;
}
input {
  border: none;
  outline: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(97, 85, 81, 0.2);
}
.container .header {
  background-color: var(--primary-color);
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.header .logo {
  display: block;
  height: 3rem;
}
.header .search-form {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 2rem;
  max-width: 40rem;
  flex: 1;
  transition: all 0.3s;
}
.header .search-form:focus-within {
  transform: translateY(-2px);
  box-shadow: 0 0.7rem 3rem rgba(97, 85, 81, 0.08);
}
.search-form .search-bar {
  padding-left: 2rem;
  background: none;
  min-width: 28ch;
  flex: 1;
  color: #615551;
  font-size: 1.2rem;
}
.search-form .search-bar::placeholder {
  color: #d3c7c3;
}

.search-form .search-button {
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-image: var(--primary-gradient);
  color: white;
  font-weight: 600;
  transition: all 0.2s;
}
.search-form .search-button:hover {
  transform: scale(1.05);
}
.search-form .search-button svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
  margin-right: 0.3rem;
}

.header .nav-list {
  display: flex;
}
.header .nav-item button {
  padding: 2.5rem 0.5rem;
  font-size: 0.9rem;
  transition: all 0.3s;
}
.header .nav-item button svg {
  width: 2rem;
  height: 2rem;
  fill: var(--secondary-color);
  margin-right: 0.3rem;
  transform: translateY(-1px);
}
.header .nav-item button:hover {
  background-color: #f2efee;
}

.container .content {
  display: flex;
  flex: 1;
}
.content .search-results {
  background-color: white;
  flex: 1;
  padding: 2rem 0;
}
.search-results .result {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s;
}
.search-results .result:hover {
  background-color: #f9f5f3;
  transform: translateY(-2px);
}
.result .result-icon {
  height: 4rem;
  width: 4rem;
}
.result .result-details {
  text-transform: uppercase;
}
.result-details h4 {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  color: var(--secondary-color);
}
.result-details p {
  font-size: 0.8rem;
  color: #918581;
}

.content .recipe {
  background-color: var(--primary-color);
  flex: 2;
}

/* Desktop-first (default styles are for desktop, scale down) */
@media (max-width: 75em) {
  /* ~1200px (large tablets / small laptops) */
  html {
    font-size: 92.5%;
  }
}
@media (max-width: 64em) {
  /* ~1024px (tablets portrait) */
  body {
    padding: 0;
  }
}
@media (max-width: 48em) {
  /* ~768px (big phones / small tablets) */
}
@media (max-width: 30em) {
  /* ~480px (phones) */
}
